# Chiave licenza Wacom Signature SDK / SigCaptX (stringa fornita da Wacom).
# Obbligatoria per la modalità "Tavoletta (Wacom)" se il servizio locale restituisce DynCaptNotLicensed.
# Dopo aver modificato le variabili VITE_*: rifare `pnpm build` nel web (sono inlined in build).
# VITE_WACOM_SIGCAPTX_LICENCE=
